<p id="notice"><%= notice %></p>

<div>
	<label for="">Title:</label>
	<%= @product.title %>
</div>

<div>
	<label for="">Description:</label>
	<%= @product.description %>
</div>

<div>
	<label for="">Price:</label>
	<%= @product.price %>
</div>

<div>
	<label for="">Published:</label>
	<%= @product.published %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
